// DEFAULT
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}
body,
html {
  height: 100%;
}
.wrapper {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
// MIXINS
@mixin container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 20px;
}
@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// HEADER
.header {
  width: 100vw;
  padding: 30px 0;
  background-color: cadetblue;
  &__container {
    @include container;
    @include flex;
  }

  &__logo {
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff !important;
  }

  &__menu {
    @include flex;
    width: 50%;
    column-gap: 20px;
  }

  &__link {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff !important;
  }
}
// MAIN
.main {
  flex: 1 1 auto;
}
// BLOCK
.block {
  &__container {
    @include container;
    @include flex;
    padding: 180px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 33%;
    padding: 30px;
    text-align: center;
    color: #ffffff !important;
    background-color: cadetblue;
    border-radius: 50px;
  }

  &__img {
    max-width: 100%;
    &_wrapper {
      width: 100%;
      overflow: hidden;
      border-radius: 50px;
    }
  }

  &__title {
    font-weight: 900;
    font-weight: 30px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 15px;
  }
}
// FOOTER
.footer {
  width: 100vw;
  background-color: cadetblue;
  padding: 30px 0;
  text-align: center;
  &_text {
    color: #ffffff;
  }
}
